@import "tailwindcss";

html,
body {
  height: 100% !important;
}

.background-image {
  object-fit: cover;
  background: url("../../public/background.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}
